In [1]:
import numpy as numpy
import pandas as pd

In [4]:
#CREATE DATA
numpy.random.seed(10)
x1 = numpy.linspace(0.1,5,50)
x2 = numpy.linspace(5.1,10,50)
y = numpy.random.randint(0,50,50)

#DFs
df1 = pd.DataFrame({'x':x1,'y':y})
df2 = pd.DataFrame({'x':x1,'y':y})
df3 = pd.DataFrame({'x':x2,'y':y})

df = pd.concat([df1,df2,df3])

In [5]:
df.head()

     x   y
0  0.1   9
1  0.2  36
2  0.3  15
3  0.4   0
4  0.5  49